<a href="https://colab.research.google.com/github/ShilpaVinayaka/Machine-learning-projects/blob/main/DiabetesPrediction/DiabetesPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Dependencies

In [141]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

import warnings
from sklearn.exceptions import DataConversionWarning
warnings.filterwarnings(action='ignore', category=DataConversionWarning)

Data Collection and Analysis

PIMA Diabetes Dataset - Data of Females only (Having the data of number pregnencies they have gone through, blood level, glucose level, etc)

In [90]:
#loading the diabetes dataset to a pandas data file
diabetes_dataset = pd.read_csv("diabetes.csv")

In [91]:
pd.read_csv?

In [92]:
#printing the first five 5 rows of the dataset
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [93]:
# number of rows and columns in this dataset
diabetes_dataset.shape

(768, 9)

In [94]:
#getting the statistical measures of the data
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [95]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 -- Non-Diabetic Patient

1 -- Diabetic Patient

In [96]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [97]:
# separating the data and labels
X = diabetes_dataset.drop(columns = 'Outcome', axis=1)
Y = diabetes_dataset['Outcome']

In [98]:
print(X)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [99]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Data Standardization

(It is done as the values range are different in each column)

In [100]:
scaler = StandardScaler()

In [101]:
scaler.fit(X)

StandardScaler()

In [102]:
# transforming the data to standardized form
standardized_data = scaler.transform(X)

In [103]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

All values resulted in range 0 and 1

In [104]:
# X represents Data and Y represents the model
X = standardized_data
Y = diabetes_dataset['Outcome']

In [105]:
print(X)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [106]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Train Test Split

In [107]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y, random_state=2)

X data is split into X_train and X_test. ML model is trained with X_train data. Then the model is evaluated with X_test data.

ML model shouldn't see X_test data, as the evaluation is done with X_test data. 

Y_train represents all the labels for X_train data. Y_test represents 1 or 0.

**train_test_split** gives 4 outputs - stored as X_train, X_test, Y_train, Y_test.


X,Y are original train and test set is sent. 
train_size = 0.2 means 20% is test data and 80% is training data. 
stratifying based on Y. To split the data in same proportion.
random_state - for replicating code

In [108]:
print(X.shape, X_train.shape, X_test.shape)

(768, 8) (614, 8) (154, 8)

Training the Model

In [109]:
#SVM model is loaded into classifier variable
classifier = svm.SVC(kernel='linear')

In [110]:
#training the support vector machine classifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

Model Evaluation (Checking how many times the model predicts accurately)

Accuracy Score

In [111]:
#Accuracy score on the training data
X_train_prediction = classifier.predict(X_train)

# X_train_prediction are compared with the original model Y_train
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [112]:
print("Accuracy score of training data = ", training_data_accuracy)

Accuracy score of training data =  0.7866449511400652

If the accuracy score is greater than 75, then it's pretty good result.

In [142]:
#Accuracy score on the test data
X_test_prediction = classifier.predict(X_test)

# X_train_prediction are compared with the original model Y_train
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [143]:
print("Accuracy score of test data = ", test_data_accuracy)

Accuracy score of test data =  0.7727272727272727

The accuracy scores of the training data and test data is good evidence that the model is overtrained.

Overtraining represents that the model trains a lot on training data and but doesn't perform well in test data. In that case training data accuracy will be very high and test data accuracy will be low.
This concept is known as overfitting.

Making a Predictive System

In [152]:
input_data = (0,137,40,35,168,43.1,2.288,33 )


#change the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data) #asarray converts the list to numpy array

# reshape the array as we are predicting for one instance
# our model is trained on 768 examples. But here we are using only one data points 
#instead of 768 to not confuse the model, we are reshaping to get the result for one data_point

# we are trying only for one instance

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

# standardize the input_data
std_data = scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if(prediction[0] == 0):
  print("The person is Non-diabetic")
else:
  print("The person is diabetic")

[[-1.14185152  0.5040552  -1.50468724  0.90726993  0.76583594  1.4097456
   5.4849091  -0.0204964 ]]
[1]
The person is diabetic

In [153]:
input_data = (1,103,30,38,83,43.3,0.183,33)

#change the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data) #asarray converts the list to numpy array

# reshape the array as we are predicting for one instance
# our model is trained on 768 examples. But here we are using only one data points 
#instead of 768 to not confuse the model, we are reshaping to get the result for one data_point

# we are trying only for one instance

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

# standardize the input_data
std_data = scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if(prediction[0] == 0):
  print("The person is Non-diabetic")
else:
  print("The person is diabetic")

[[-0.84488505 -0.56004775 -2.02166474  1.09545411  0.02778979  1.43512945
  -0.87244072 -0.0204964 ]]
[0]
The person is Non-diabetic